@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");
html, body {
  color: #333;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw; }
  .wrapper .flex {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center; }
  .wrapper .flex-center {
    align-items: center; }
  .wrapper .flex-wrap {
    flex-wrap: wrap; }
  .wrapper .header {
    background: url(./resources/header.png) center repeat;
    height: 250px; }
  .wrapper .content {
    flex-grow: 1;
    padding: 10px 10vw 100px;
    text-align: center; }
    .wrapper .content a {
      color: #ff50a0; }
    .wrapper .content button {
      border: none;
      padding: 10px 20px;
      font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
      cursor: pointer;
      text-decoration: none;
      background-color: #ebebf1; }
      .wrapper .content button:focus {
        outline: 0; }
    .wrapper .content select {
      border: solid 3px #ff50a0;
      color: #333;
      width: 250px;
      font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
      font-size: 1.2rem; }
    .wrapper .content .sub-text {
      font-size: 0.8rem;
      margin: 0; }
    .wrapper .content .main-icon .icon-image-desc {
      background-color: #ffe4f2;
      color: #ff50a0;
      display: inline-block;
      border-radius: 25px; }
      .wrapper .content .main-icon .icon-image-desc img {
        max-width: 100%;
        border-radius: 25px 25px 0 0; }
      .wrapper .content .main-icon .icon-image-desc .desc {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 10px 5px; }
        .wrapper .content .main-icon .icon-image-desc .desc p {
          font-size: 0.8rem;
          font-weight: 300;
          margin: 0; }
          .wrapper .content .main-icon .icon-image-desc .desc p:first-child {
            font-size: 1rem;
            font-weight: 400; }
    .wrapper .content .group-picker .start-btn {
      background-color: #ff9dca;
      color: #fff; }
      .wrapper .content .group-picker .start-btn:focus {
        outline: 0; }
      .wrapper .content .group-picker .start-btn:hover {
        background-color: #ff50a0; }
    .wrapper .content .sort-picker .progress {
      margin-top: 25px; }
    .wrapper .content .sort-picker button {
      border: solid 2px transparent; }
      @media screen and (max-width: 849px) {
        .wrapper .content .sort-picker button {
          max-width: 75%;
          font-size: 1rem; }
          .wrapper .content .sort-picker button .icon-image-desc {
            min-width: 155px; }
            .wrapper .content .sort-picker button .icon-image-desc .desc {
              height: 45px; }
              .wrapper .content .sort-picker button .icon-image-desc .desc p {
                font-size: 0.8rem; }
                .wrapper .content .sort-picker button .icon-image-desc .desc p:first-child {
                  font-size: 1rem; }
          .wrapper .content .sort-picker button.sort-girl-btn {
            margin: 0 25px; } }
      @media screen and (min-width: 850px) {
        .wrapper .content .sort-picker button {
          font-size: 1.2rem; }
          .wrapper .content .sort-picker button .icon-image-desc .desc {
            height: 65px; }
            .wrapper .content .sort-picker button .icon-image-desc .desc p {
              font-size: 1rem; }
              .wrapper .content .sort-picker button .icon-image-desc .desc p:first-child {
                font-size: 1.2rem; }
          .wrapper .content .sort-picker button.sort-girl-btn {
            margin: 0 50px; } }
      .wrapper .content .sort-picker button.sort-girl-btn {
        border-radius: 25px;
        padding: 0;
        background-color: transparent; }
      .wrapper .content .sort-picker button.sort-other-btn {
        min-width: 125px;
        border-radius: 10px;
        font-weight: 300;
        margin: 5px; }
      .wrapper .content .sort-picker button:hover {
        border: solid 2px #ff50a0; }
    .wrapper .content .results .top3 {
      flex-wrap: wrap; }
      .wrapper .content .results .top3 .main-icon:first-child {
        width: 100%; }
      .wrapper .content .results .top3 .main-icon:not(:first-child) {
        max-width: 175px;
        margin: 10px 25px; }
      .wrapper .content .results .top3 .main-icon .icon-image-desc {
        border-radius: 35px; }
        .wrapper .content .results .top3 .main-icon .icon-image-desc img {
          max-width: 50%;
          max-width: 175px;
          border-radius: 35px 35px 0 0; }
    .wrapper .content .results .top12 {
      flex-wrap: wrap; }
      .wrapper .content .results .top12 .main-icon {
        margin: 10px 25px;
        width: 20%;
        max-width: 125px; }
        .wrapper .content .results .top12 .main-icon .icon-image-desc {
          border-radius: 25px; }
          .wrapper .content .results .top12 .main-icon .icon-image-desc img {
            max-width: 25%;
            max-width: 125px;
            border-radius: 25px 25px 0 0; }
    .wrapper .content .results .all {
      flex-wrap: wrap;
      flex-direction: row;
      text-align: left; }
      .wrapper .content .results .all .all-girl {
        flex: 1 1 33.33%;
        justify-content: flex-start;
        padding: 2px; }
        .wrapper .content .results .all .all-girl > :not(:first-child) {
          padding: 5px 2px; }
        .wrapper .content .results .all .all-girl .ranking {
          color: #ff50a0; }
        .wrapper .content .results .all .all-girl .desc p {
          margin: 0;
          font-weight: 300; }
          .wrapper .content .results .all .all-girl .desc p:not(:first-child) {
            font-size: 0.8rem; }
  .wrapper .footer {
    background: url(./resources/header.png) center repeat;
    height: 75px; }
