@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
$theme-pink: #ff50a0;
$sub-pink: #ffe4f2;
$bg-grey: #e9edf0;
$white: #fff;
$black: #333;
$font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;

html, body {
  color: $black;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;

  .header {
    background-image: url(./resources/logo.png), url(./resources/header.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
  }

  .content {
    flex-grow: 1;
    padding: 10px 10vw 100px;
    text-align: center;

    a {
      color: $theme-pink;
    }

    button {
      border: none;
      padding: 10px 20px;
      font-family: $font-family;
      font-size: 1.2rem;
      cursor: pointer;
      text-decoration: none;
      background-color: $bg-grey;

      &:focus {
        outline: 0;
      }
    }

    select {
      border: solid 3px $theme-pink;
      color: $black;
      width: 250px;
      font-family: $font-family;
      font-size: 1.2rem;
    }

    .sub-text {
      font-size: 0.8rem;
      margin: 0;
    }

    .flex {
      display: flex;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: center;
    }

    .flex-center {
      align-items: center;
    }

    .flex-wrap {
      flex-wrap: wrap;
    }

    .main-icon {
      .icon-image-desc {
        background-color: $sub-pink;
        color: $theme-pink;
        display: inline-block;
        border-radius: 50px;

        .desc {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          height: 65px;
          padding: 10px 5px;

          p {
            font-size: 0.8rem;
            font-weight: 300;
            margin: 0;

            &:first-child {
              font-size: 1rem;
              font-weight: 400;
            }
          }
        }
      }
    }

    .group-picker {
      .start-btn {
        background-color: lighten($theme-pink, 15%);
        color: $white;
  
        &:focus {
          outline: 0;
        }
  
        &:hover {
          background-color: $theme-pink
        }
      }
    }

    .sort-picker {
      .progress {
        margin-top: 25px;
      }

      button {
        border: solid 2px transparent;

        .main-icon {
          // @media screen and (max-width: 800px) {
            
          // }

          // @media screen and (min-width: 801px) {
            img {
              max-width: 100%;
              border-radius: 50px 50px 0 0;
            }
  
            .desc {
              p {
                font-size: 1rem;
  
                &:first-child {
                  font-size: 1.2rem;
                  font-weight: 300;
                }
              }
            }
          // }
        }

        &.sort-girl-btn {
          padding: 0;
          border-radius: 50px;
          background-color: transparent;
          margin: 0 75px;
        }

        &.sort-other-btn {
          min-width: 125px;
          border-radius: 7px;
          font-weight: 300;
          margin: 5px;
        }

        &:hover {
          border: solid 2px $theme-pink;
        }
      }
    }

    .results {
      .top3 {
        flex-wrap: wrap;

        .main-icon {
          &:first-child {
            width: 100%;
          }
  
          &:not(:first-child) {
            max-width: 175px;
            margin: 10px 25px;
          }

          .icon-image-desc {
            border-radius: 35px;

            img {
              max-width: 50%;
              max-width: 175px;
              border-radius: 35px 35px 0 0;
            }
          }
        }
      }

      .top12 {
        flex-wrap: wrap;

        .main-icon {
          margin: 10px 25px;
          width: 20%;
          max-width: 125px;

          .icon-image-desc {
            border-radius: 25px;

            img {
              max-width: 25%;
              max-width: 125px;
              border-radius: 25px 25px 0 0;
            }
          }
        }
      }

      .all {
        flex-wrap: wrap;
        align-content: stretch;
        text-align: left;

        .flex {
          width: 33.33%;
          flex-grow: 0;
          justify-content: flex-start;

          > :not(:first-child) {
            padding: 5px 2px;
          }

          .ranking {
            color: $theme-pink;

            & + p {
              margin: 0;
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  .footer {
    background: url(./resources/header.png) center no-repeat;
    height: 75px;
  }
}