@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
  overflow-x: hidden; }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw; }
  .wrapper .header {
    background-image: url(./resources/logo.png), url(./resources/header.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 250px; }
  .wrapper .content {
    padding: 10px 15vw 100px;
    text-align: center; }
    .wrapper .content .sub-text {
      font-size: 0.8rem;
      margin: 0; }
    .wrapper .content a {
      color: #2d9cdb; }
    .wrapper .content select {
      border: solid 3px #ff50a0;
      color: #333;
      width: 250px;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.2rem; }
    .wrapper .content button {
      border: none;
      padding: 10px 20px;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.2rem;
      cursor: pointer;
      text-decoration: none;
      background-color: #e9edf0; }
      .wrapper .content button:focus {
        outline: 0; }
    .wrapper .content .flex {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      align-items: flex-start; }
    .wrapper .content .main-icon .icon-image-desc {
      background-color: #ffe4f2;
      color: #ff50a0;
      display: inline-block;
      border-radius: 50px; }
      .wrapper .content .main-icon .icon-image-desc .desc {
        margin: 1rem; }
        .wrapper .content .main-icon .icon-image-desc .desc p {
          font-size: 0.8rem;
          font-weight: 300;
          margin: 0; }
          .wrapper .content .main-icon .icon-image-desc .desc p:first-child {
            font-size: 1rem; }
    .wrapper .content .mini-icon > img {
      height: 75px;
      width: 75px;
      padding: 5px; }
    .wrapper .content .group-picker .group-picker-all {
      display: flex;
      flex-flow: wrap;
      justify-content: center; }
    .wrapper .content .group-picker .start-btn {
      background-color: #ff9dca;
      color: #fff; }
      .wrapper .content .group-picker .start-btn:focus {
        outline: 0; }
      .wrapper .content .group-picker .start-btn:hover {
        background-color: #ff50a0; }
    .wrapper .content .sort-picker .progress {
      margin-top: 25px; }
    .wrapper .content .sort-picker button {
      border: solid 2px transparent; }
      .wrapper .content .sort-picker button .main-icon img {
        max-width: 100%;
        min-width: 200px;
        border-radius: 50px 50px 0 0; }
      .wrapper .content .sort-picker button.sort-girl-btn {
        padding: 0;
        border-radius: 50px;
        background-color: transparent;
        margin: 0 75px; }
      .wrapper .content .sort-picker button.sort-other-btn {
        min-width: 125px;
        border-radius: 7px;
        font-weight: 300;
        margin: 5px; }
      .wrapper .content .sort-picker button:hover {
        border: solid 2px #ff50a0; }
    .wrapper .content .results .top3 {
      flex-wrap: wrap; }
      .wrapper .content .results .top3 .main-icon:first-child {
        width: 100%; }
      .wrapper .content .results .top3 .main-icon:not(:first-child) {
        max-width: 175px;
        margin: 10px 25px; }
      .wrapper .content .results .top3 .main-icon .icon-image-desc {
        border-radius: 35px; }
        .wrapper .content .results .top3 .main-icon .icon-image-desc img {
          max-width: 50%;
          max-width: 175px;
          border-radius: 35px 35px 0 0; }
    .wrapper .content .results .top12 {
      flex-wrap: wrap; }
      .wrapper .content .results .top12 .main-icon {
        margin: 10px 25px;
        width: 20%;
        max-width: 125px; }
        .wrapper .content .results .top12 .main-icon .icon-image-desc {
          border-radius: 25px; }
          .wrapper .content .results .top12 .main-icon .icon-image-desc img {
            max-width: 25%;
            max-width: 125px;
            border-radius: 25px 25px 0 0; }
    .wrapper .content .results .all {
      flex-wrap: wrap;
      align-content: stretch;
      text-align: left; }
      .wrapper .content .results .all .flex {
        width: 33.33%;
        flex-grow: 0;
        justify-content: flex-start; }
        .wrapper .content .results .all .flex > :not(:first-child) {
          padding: 5px 2px; }
        .wrapper .content .results .all .flex .ranking {
          color: #ff50a0; }
          .wrapper .content .results .all .flex .ranking + p {
            margin: 0; }
  .wrapper .footer {
    background: url(./resources/header.png) center no-repeat;
    height: 75px; }
