@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
$theme-pink: #ff50a0;
$sub-pink: #ffe4f2;
$bg-grey: #ececf1;
$white: #fff;
$black: #333;

body {
  margin: 0;
  padding: 0;
  color: $black;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;

    .header {
      background-image: url(./resources/logo.png), url(./resources/header.png);
      background-position: center;
      background-repeat: no-repeat;
      height: 250px;
    }
  
    .content {
      padding: 50px 75px 100px;
      text-align: center;
      flex: 1;

      select {
        border: solid 3px $theme-pink;
        color: $black;
        width: 250px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.2rem;
      }

      button {
        border: none;
        padding: 10px 20px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.2rem;
        cursor: pointer;
        text-decoration: none;
      }

      .group-picker {
        .group-picker-all {
          display: flex;
          flex-flow: wrap;
          justify-content: center;
        }
  
        .start-btn {
          background-color: lighten($theme-pink, 15%);
          color: $white;
    
          &:focus {
            outline: 0;
          }
    
          &:hover {
            background-color: $theme-pink
          }
        }
      }

      .sort-picker {
        .option-button {
          background-color: $bg-grey;
          color: $white;
    
          &:focus {
            outline: 0;
          }
        }
      }

      .main-icon {
        background-color: $sub-pink;
        color: $theme-pink;
        display: inline-block;
        border-radius: 50px;

        img {
          border-radius: 50px 50px 0 0;
        }

        div {
          margin: 1rem;

          p {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 300;
            margin: 0;

            &:first-child {
              font-size: 1.5rem;
            }
          }
        }
      }
    
      .mini-icon > img {
        height: 75px;
        width: 75px;
        padding: 5px;

        &:hover {

        }
      }
    }
  
    .footer {
      background: url(./resources/header.png) center no-repeat;
      height: 75px;
    }
  }
}