@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
$theme-pink: #ff50a0;
$sub-pink: #ffe4f2;
$bg-grey: #ebebf1;
$white: #fff;
$black: #333;
$font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;

html, body {
  color: $black;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;

  .flex {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
  }

  .flex-center {
    align-items: center;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .header {
    background: url(./resources/header.png) center;
    height: 250px;
    flex-grow: 0;
  }

  .content {
    flex-grow: 1;
    padding: 10px 10vw 100px;
    text-align: center;

    a {
      color: $theme-pink;
    }

    button {
      border: none;
      padding: 0.75rem;
      font-family: $font-family;
      font-size: 1.2rem;
      cursor: pointer;
      text-decoration: none;
      background-color: $bg-grey;

      &:focus {
        outline: 0;
      }
    }

    select {
      border: solid 3px $theme-pink;
      color: $black;
      width: 250px;
      font-family: $font-family;
      font-size: 1.2rem;

      @media screen and (max-width: 300px) {
        width: auto;
      }
    }

    .sub-text {
      font-size: 0.8rem;
      margin: 0;
    }

    .mini-icon {
      height: 75px;
      width: 75px;
      padding: 5px;
    }
    
    .main-icon {
      background-color: $sub-pink;
      color: $theme-pink;
      display: inline-block;
      border-radius: 25px;

      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 25px 25px 0 0;
      }

      .desc {
        padding: 7px 5px;

        p {
          font-weight: 300;
          margin: 0;

          &:not(:last-child) {
            font-weight: 400;
          }
        }
      }
    }

    .progress {
      margin-top: 25px;
    }

    .group-picker {
      .start-btn {
        background-color: lighten($theme-pink, 15%);
        color: $white;
  
        &:focus {
          outline: 0;
        }
  
        &:hover {
          background-color: $theme-pink
        }
      }
    }

    .sort-picker {
      button {
        border: solid 2px transparent;

        @media screen and (max-width: 399px) {
          max-width: 75%;
          font-size: 1rem;

          .main-icon {
            min-width: 120px;
            .desc {
              height: 28px;

              p {
                font-size: 0.6rem;
      
                &:first-child {
                  font-size: 0.8rem;
                }
              }
            }
          }

          &.sort-girl-btn {
            margin: 0 10px;
          }

          &.sort-other-btn {
            font-size: 0.6rem;
          }
        }

        @media screen and (min-width: 400px) and (max-width: 849px) {
          max-width: 75%;
          font-size: 1rem;

          .main-icon {
            min-width: 155px;

            .desc {
              height: 40px;

              p {
                font-size: 0.8rem;
      
                &:first-child {
                  font-size: 1rem;
                }
              }
            }
          }

          &.sort-girl-btn {
            margin: 0 20px;
          }

          &.sort-other-btn {
            font-size: 0.8rem;
          }
        }

        @media screen and (min-width: 850px) {
          font-size: 1.2rem;

          .main-icon {
            .desc {
              height: 45px;
              
              p {
                font-size: 1rem;
      
                &:first-child {
                  font-size: 1.2rem;
                }
              }
            }
          }

          &.sort-girl-btn {
            margin: 0 50px;
          }

          &.sort-other-btn {
            font-size: 1rem;
          }
        }

        &.sort-girl-btn {
          border-radius: 25px;
          padding: 0;
          background-color: transparent;
        }

        &.sort-other-btn {
          min-width: 125px;
          border-radius: 10px;
          font-weight: 300;
          margin: 5px;
        }

        &:hover {
          border: solid 2px $theme-pink;
        }
      }
    }

    .results {
      .top12 {
        // media values based on no ties
        .mobile-break {
          @media screen and (max-width: 849px) {
            width: 0%;
          }

          @media screen and (min-width: 850px) {
            width: 100%;
          }
        }

        .top12-girl {
          @media screen and (max-width: 639px) {
            width: 285px;
            min-width: 230px;
            padding-bottom: 10px;

            .main-icon {
              display: flex;
              flex: 1 0 auto;
              border-radius: 15px;
              align-items: center;

              img {
                height: 100px;
                border-radius: 15px 0 0 15px;
              }

              .desc {
                text-align: left;
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 0 15px;

                p {
                  padding: 0 2px;
                }
              }
            }
          }

          @media screen and (min-width: 640px) {
            max-width: 150px;
            min-width: 50px;
            padding: 10px;
  
            .desc {
              height: 40px;
              font-size: 0.9rem;

              // each item under desc should be inline
              // except for the company name
              p:first-child, div {
                display: inline;
              }
            }
          }
        }
      }

      .all {
        text-align: left;

        .all-girl {
          @media screen and (max-width: 549px) {
            justify-content: center;
            .result-icon {
              width: 235px;
            }
          }

          @media screen and (min-width: 550px) and (max-width: 849px) {
            justify-content: flex-start;
            width: 50%;
          }

          @media screen and (min-width: 850px) {
            justify-content: flex-start;
            width: 33%;
          }

          .result-icon {
            display: flex;
            > :not(:first-child) {
              padding: 5px 2px;
            }
  
            .ranking {
              color: $theme-pink;
            }
  
            .desc {
              p {
                margin: 0;
                font-weight: 300;
                font-size: 0.9rem;
  
                &:not(:first-child) {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer {
    background: url(./resources/header.png) center repeat;
    height: 75px;
  }
}